@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Nunito Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

html, 
body {
    font-family:'Nunito','Times New Roman', Times, serif, serif;
    background: #A7BBD7;
}

h1 {
    letter-spacing: 0.3rem;
    text-shadow: 1px 1px rgb(63, 59, 59), -1px -1px #A7BBD7, 2px 0 1px #000;
    color: #022C5F;
}

footer {
    margin-top: 380px;
}

.result p .searchmatch {
    font-weight: bold;
}

@media screen and (max-width: 991px) {
    
    .w-75, 
    .w-50 {
       width: 85% !important;
    }
}

@media screen and (max-width: 500px) {
    
    .w-75 {
        width: 95% !important;
     }

    .w-25 {
        width: 30% !important;
     }

     .btn-lg {
        font-size: 1rem;
     }
}

@media screen and (max-width: 375px) {
    
     .btn-lg {
        font-size: 0.89rem;
     }
}

@media screen and (max-width: 350px) {
    
    .btn-lg {
       font-size: 0.83rem;
    }
}